<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smtaani"
        tools:targetApi="31">
        <activity
            android:name=".vendorDashboard"
            android:exported="false" />
        <activity
            android:name=".barberShopActivities.barberDashboard"
            android:exported="false" />
        <activity
            android:name=".cyberCafe"
            android:exported="false" />
        <activity
            android:name=".restaurant"
            android:exported="false" />
        <activity
            android:name=".thriftShop"
            android:exported="false" />
        <activity
            android:name=".movieShop"
            android:exported="false" />
        <activity
            android:name=".carWash"
            android:exported="false" />
        <activity
            android:name=".profilePage"
            android:exported="false" />
        <activity
            android:name=".barberShopActivities.barberShop"
            android:exported="false" />
        <activity
            android:name=".MainDashboard"
            android:exported="false" />
        <activity
            android:name=".loginRegister"
            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>